<div class="login-form">
    <%= render partial: 'basic/messages' %>
    <form action="<%= registrations_path %>" method="post">
        <div class="form-group">
            <label><%= I18n.t('labels.first_name') %></label>
            <input class="au-input au-input--full" type="text" name="first_name" placeholder="<%= I18n.t('labels.first_name') %>">
        </div>
        <div class="form-group">
            <label><%= I18n.t('labels.last_name') %></label>
            <input class="au-input au-input--full" type="text" name="last_name" placeholder="<%= I18n.t('labels.first_name') %>">
        </div>
        <div class="form-group">
            <label><%= I18n.t('labels.email') %></label>
            <input class="au-input au-input--full" type="email" name="email" placeholder="<%= I18n.t('labels.email') %>">
        </div>
        <div class="form-group">
            <label><%= I18n.t('labels.password') %></label>
            <input class="au-input au-input--full" type="password" name="password" placeholder="<%= I18n.t('labels.password') %>">
        </div>
        <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit"><%= I18n.t('buttons_and_links.register') %></button>
    </form>
    <div class="register-link">
        <p>
            <%= I18n.t('screens.signup.already_registered') %>
            <a href="<%= root_path %>"><%= I18n.t('buttons_and_links.sign_in') %></a>
        </p>
    </div>
</div>