<!DOCTYPE html>
<html>
  <head>
    <title>UrHistory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="page-wrapper">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                                <img src="/assets/icon/logo.png" alt="CoolAdmin">
                            </a>
                        </div>
                        <%= yield %>
                    </div>
                </div>
            </div>
        </div>

    </div>
  </body>
</html>
